.container {
  display: flex;
}

.titleContainer {
  flex: 1;
  margin-left: 10px;
}

.title {
  margin: 0 0 10px;
}

.poster {
  /*float: left;*/
  display: inline-block;
  height: 200px;
}

.movieField {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.tagline {
  composes: movieField;
}

.movieFields {
  margin-top: 20px;
}

.externalIds {
  margin-bottom: 10px;
  font-size: 0.9em;
}

.castTitle {
  margin-bottom: 10px;
}

.castContainer {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  width: 50%;
}

.castPersonImgContainer {
  width: 40px;
  height: auto;
}

.castPersonImgContainer > img {
  width: 100%;
  max-height: 100px;
}

.castPersonName {
  margin-left: 10px;
  font-size: 0.9em;
}

.castActionWrapper {
  height: 20px;
  display: table;
}

.castAction {
  display: table-cell;
  vertical-align: middle;

  cursor: pointer;
  font-size: 0.9em;
}

.castOnHover {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.05s linear;
}

.castPersonContainer:hover .castOnHover {
  visibility: visible;
  opacity: 1;
}

.mediaListItem {
  margin-bottom: 10px;
}

.mediaListItemDate {
  font-size: 0.8em;
}
