html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  color: #fff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.my-container {
  color: #FFF !important;
  display: flex;
}

a {
  color: #FFF !important;
}

.level-2 {
  margin-top: 20px;
  margin-right: 20px;
}

.title, .fullpath {
  display: block;
}

.title {
  font-size: 14pt;
}

.fullpath {
  font-size: 10pt;
}

.MediaDialog {
  width: 100%;
}

.MediaDialog form {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.MediaDialog .field-group {
  margin: 10px;
}

a.progress-complete, .scrobble {
  color: #1B5E20 !important;
  background: white;
}

a.progress-incomplete {
  color: #B71C1C !important;
  background: white;
}

.trakt-report-item {
  margin-bottom: 10px;
}

.btn-icon {
  margin-right: 10px;
}
