a {
	cursor: pointer;
}

html, body {
	margin: 0;
  height:100%;
}

body {
	background: linear-gradient(to right,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
}

.container {
	color: #FFF;
	padding: 20px;
}

.file-entry {
	margin-bottom: 20px;
}

.children {
	margin-top: 20px;
	margin-left: 20px;
}

.title, .fullpath {
	display: block;
}

.title {
	font-size: 14pt;
}

.fullpath {
	font-size: 10pt;
}

.MediaDialog {
	width: 100%;
}

.MediaDialog form {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.MediaDialog .field-group {
	margin: 10px;
}
