/node_modules/
/dist/
*.log
play.js
/deploy.sh
/deploy-from-docker-hub.sh
/deploy-docker-machine.sh
/test.sh
/lib
/public/*
!/public/.keep
/ecosystem.json
/start-dev.sh
/start-docker-compose-production.sh
stats.json
*.zip
deps.json
.nyc_output
coverage

/provision/backup.sh
/provision/start-docker-compose-production.sh
/provision/ansible/variables.yml

/demo/public
