language: node_js
node_js:
  - '5'
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
script: npm run test:cov
after_script:
  - 'npm i coveralls'
  - 'cat coverage/lcov.info | ./node_modules/.bin/coveralls'
