.container {
  color: #333;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.input:focus {
  outline: none;
}

.containerOpen .input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.hasError {
  border-color: red;
}
.hasSuccess {
  border-color: green;
}

.suggestionsContainer {
  position: absolute;
  top: 100%;
  
  width: 380px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;

  max-height: 400px;
  overflow-y: auto;
}

.suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.suggestionFocused {
  background-color: #ddd;
}
