@import './variables.css';

.container {
  display: flex;
  flex-direction: row;

  width: 100%;
  min-height: 100%;
}

.panel {
  padding: 20px 50px 50px 50px;
  min-height: 100%;
  flex: 1;
}

@media (--mobile-viewport) {
  .panel {
    padding: 20px;
  }
}

.leftPanel {
  composes: panel;

  background: linear-gradient(to right, rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%);
  border-right: 1px solid rgba(0,0,0,0.5);
  box-shadow: inset -7px 0 10px -7px rgba(0,0,0,0.5);
}

.rightPanel {
  composes: panel;

  background-color: rgba(79, 92, 121, 1);
}

.playbackPanel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
