.button {
  padding: 0;
  border: none;
  background: 0 0;

  cursor: pointer;
  text-align: left;
  color: #EEE;
  text-decoration: none;

  border-color: transparent;
  background: none;
  box-shadow: none;

  text-transform: uppercase;
  font-size: 20px;
  padding: 5px;
}

.buttonLeftMargin {
  composes: button;
}

.button:focus {
  outline:0;
}

.activeButton {
  font-weight: bold;
  color: #FFF;
}
