.buttons {
  margin-bottom: 30px;
}

.button {
  padding: 0;
  border: none;
  background: 0 0;

  cursor: pointer;
  text-align: left;
  color: #FFF;
  text-decoration: none;

  border-color: transparent;
  background: none;
  box-shadow: none;

  text-transform: uppercase;

  font-size: 20px;
  margin-right: 20px;
}

.buttonLeftMargin {
  composes: button;
  margin-left: 20px;
  margin-right: 0;
}

.button:focus {
  outline:0;
}

.activeButton {
  font-weight: bold;
}

.textAlignRight {
  text-align: right;
}
