@import './variables.css';
@import './theme-buttons.css';

.container {
  padding: var(--padding);
}

.mainContainer {
  padding: var(--mainContainerPadding);
}

.imageContainer {
  margin: var(--negativeMargin);
}

.verticallyCenteredContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.textAlignRight {
  text-align: right;
}

@media (--mobile-viewport) {
  .verticalMenuOnSmallScreens > a, .verticalMenuOnSmallScreens > button {
    display: block;
  }
}

.panel {
  min-height: 100%;
  flex: 1;
}
