@import './variables.css';
@import './theme-buttons.css';

.container {
  padding: var(--padding);
}

.mainContainer {
  padding: var(--mainContainerPadding);
}

.imageContainer {
  margin: var(--negativeMargin);
}

.textAlignRight {
  text-align: right;
}

.panel {
  min-height: 100%;
  flex: 1;
}
