@custom-media --full-hd-viewport (min-width: 1401px);
@custom-media --large-gallery-viewport (min-width: 1081px) and (max-width: 1400px);
@custom-media --large-viewport (min-width: 541px) and (max-width: 1080px);
@custom-media --mobile-viewport (max-width: 540px);

:root {
  --backgroundColor: #FAFAFA;
  --greyBorderColor: #CFD8DC;
  --paddingValue: 20;

  --padding: var(--paddingValue)px;
  --negativeMargin: -var(--paddingValue)px;
  --marginBottom: var(--paddingValue)px;

  --navigationBarHeightValue: 70;
  --navigationBarHeight: var(--navigationBarHeightValue)px;
  --mainContainerPadding: calc(var(--navigationBarHeightValue) + var(--paddingValue))px var(--padding) var(--padding);
}
