@custom-media --full-hd-viewport (min-width: 1401px);
@custom-media --large-gallery-viewport (min-width: 1101px, max-width: 1400px);
@custom-media --large-viewport (min-width: 501px, max-width: 1100px);
@custom-media --mobile-viewport (max-width: 500px);

:root {
  --padding: 10px 10px;
  --negativeMargin: -10px -10px;
  --marginBottom: 10px;
}
