@import "../../variables.css";

.container {
  composes: container from '../../theme.css';

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;

  background-color: var(--backgroundColor);
  color: var(--darkTextColor);
  text-align: center;

  font-size: 16pt;
  padding: 10px;

  box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.5);
}

.rightPanel {
  left: 50%; /* because fixed is against browser, not a closest relative */
  width: 50%;
}
