/* there was flex but couldn't find how to add margin between items so replaced */
@import '../variables.css';

.imageContainer {
  composes: imageContainer from '../theme.css';
}

.screenshot {
  float: left;
  position: relative;
  padding: var(--padding);

  @media (--full-hd-viewport) {
    width: 25%;
  }

  @media (--large-gallery-viewport) {
    width: 33.3%;
  }

  @media (--mobile-viewport) {
    width: 50%;
  }
}

.screenshot > img {
  width: 100%;
}

.emptyInput {
  margin-top: 15px;
  text-align: center;
}
