.marginBottom {
  margin-bottom: 20px;
}

.imgWrapper {
  display: inline-block;
  float: left;
  width: 40px;
  margin-right: 10px;
}

.contentWrapper {
  float: left;
}

.img {
  width: 100%;
  max-height: 100px;
}

.body {
  font-size: 0.8em;
}

.badge {
  font-size: 0.7em;
}
