@import "../../variables.css";

.mainContainer {
  padding: var(--mainContainerPadding);
}
.mainContainer.stacked {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.rightPanel {
  composes: panel from '../../theme.css';
  background-color: rgba(79, 92, 121, 1);
}

.leftPanelMenu {
  justify-content: flex-end;
  align-items: center;
}

.verticallyCenteredContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--greyBorderColor);

  @media (--mobile-viewport) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.navigationBar {
  padding: 20px;
  background: var(--backgroundColor);

  position: fixed;
  width: 100%;
  height: var(--navigationBarHeight);
  top: 0;
  z-index: 100;

  @media (--full-hd-viewport), (--large-gallery-viewport) {
    width: 50%;
  }
  @media (--mobile-viewport) {
    min-height: var(--navigationBarHeight);
  }
}

.navigationBar.stacked {
  z-index: 1;
  top: var(--navigationBarHeight);
}

.navigationBar:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.navigationBar * {
  color: rgba(0, 0, 0, 0.701961) !important;
}
