@import '../../variables.css';

.term {
  cursor: pointer;
}

.selected {
  border-bottom: 1px dashed white;
}

.savedHighlight {
  border-bottom: 1px dashed yellow;
}

.line {
  margin-bottom: 10px;
}

.time {
  font-size: 0.7em;
}
