@import '../variables.css';

.file:not(:last-child) {
  margin-bottom: var(--marginBottom);
}

.filePath {
  font-size: 0.8em;
}

.fileIcon {
  margin-left: 10px;
}

.filesList {
  width: 100%;
  padding: var(--padding);
}

.img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.poster {
  width: 33.3%;
  padding: var(--padding);
  text-align: center;
}

@media (--full-hd-viewport) {
  .poster {
    width: 25%;
  }
}

@media (--mobile-viewport) {
  .poster {
    width: 50%;
  }
}

.exampleEnter {
  opacity: 0.01;
}

.exampleEnterActive {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.exampleLeave {
  opacity: 1;
}

.exampleLeaveActive {
  opacity: 0.01;
  transition: all 0.2s ease-in;
}
