.container {
  margin: 0 0 20px;
}

.input {
  color: black;
}

.suggestion {
  cursor: pointer;
}

.suggestionsContainer {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.loading {
  background-image: url('../../../assets/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
