@import '../../variables.css';

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.exampleEnter {
  opacity: 0.01;
}

.exampleEnterActive {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.exampleLeave {
  opacity: 1;
}

.exampleLeaveActive {
  opacity: 0.01;
  transition: all 0.2s ease-in;
}

.imageContainer {
  composes: imageContainer from '../../theme.css';
}

.textAlignRight {
  text-align: right;
}

.filesList {
  width: 100%;
  padding: var(--padding);
}

.linksPanel {
  width: 100%;
  padding: 0 0 var(--padding);
}
