@import '../../variables.css';

.container {
  width: 100%;
  color: var(--darkTextColor);
}

.container form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.container .fieldGroup {
  margin: 10px;
}

.controls {
  text-align: center;
}

.buttonMarginBottom {
  margin-bottom: 10px !important;
}

.select {
  composes: input from '../media-dialog-autosuggest/style.css';
  background-color: var(--backgroundColor);
  text-align: center;
}

.selectContainer {
  composes: container from '../media-dialog-autosuggest/style.css';
}

.label {
  display: block;
  margin: 10px 0 0;
}

.input {
  composes: input from '../media-dialog-autosuggest/style.css';
  display: block;
}

.wordWrap {
  word-wrap: break-word;
}
